/* main */
.main {
	font-family: Montserrat;
	display: flex;
	flex-direction: row-reverse;
	width: 1200px;
	margin: 40px auto;
	background: #ffffff;
	box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/* main content */
.main-content {
	padding-top: 120px;
	height: 1350px;
	padding-right: 195px;
}
.devoloper {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	margin-bottom: 20px;
}
.name {
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	line-height: 55px;
	color: #000000;
	margin-bottom: 25px;
}
.text {
	width: 400px;
	height: 120px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
	margin-bottom: 40px;
}
.project {
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #000000;
	margin-bottom: 10px;
}
.href2 {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
}
.group {
	margin-left: 8px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
	margin-bottom: 40px;
}
.experience {
	margin-top: 30px;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	margin-bottom: 10px;
}
.text3 {
	margin-left: -20px;
	margin-bottom: 20px;
	margin-top: 0px;
	color: #595959;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	width: 509px;
	height: 120px;
}
.freelance {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	margin-bottom: 10px;
}
.format {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #fb6d3a;
}
.date {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: #a8a8a8;
	margin-bottom: 6px;
}
.enginer {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}
.education {
	padding-bottom: 100px;
}
/* Sidebar */

.sidebar {
	margin-left: -40px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 88px;
	width: 370px;
	height: auto;
	background: #1e2939;
}
/* Photo */
.img {
	margin-top: 40px;
	width: 370px;
	height: 354px;
	left: 40px;
	top: 80px;
}
/* Contact */

.style {
	margin-top: 51px;
	margin-bottom: 0px;
	margin-left: 40px;

	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #ffffff;
}
.e {
	margin-left: 0px;
	margin-right: 10px;

	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;

	color: #ffffff;
}
.c {
	margin-left: 0px;
	margin-right: 10px;

	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;

	color: #ffffff;
}
.style2 {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 40px;

	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #ffffff;
}
.style3 {
	margin-top: 47px;
	margin-bottom: 0px;
	margin-left: 40px;

	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #ffffff;
}
.href {
	margin-left: 5px;

	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;

	color: #ffffff;

	opacity: 0.5;
}
.skills_red {
	margin-left: 15px;

	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 15px;
	color: #fb6d3a;
}
.skills {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
}
